{% extends "base.html" %}

{% block content %}

<div class="row-fluid">

  <div class="span8">
    <h2>Purpose</h2>
    <p>PAVE is designed to openly solicit applicants for high profile
      assignments which may lead to greater visibility and career
      enhancement for the PAVE applicant. The PAVE program enables
      NASA managers and supervisors to advertise special opportunities
      to NASA civil servants.</p>
    <p class="warning">Please Note PAVE is not a part of the merit
      promotion and competitive placement plan.</p>
  </div><!--/span-->

  <div class="span4">
    <h2>Who is Eligible?</h2>
    <p>The PAVE communicates to NASA Civil Servants, opportunities
      where interested parties can apply on-line with minimal
      effort. PAVE does not replace Competitive Placement Plan vacancy
      announcements that require competition through merit promotion
      procedures.</p>
  </div><!--/span-->

</div><!--/row-->

<div class="row-fluid">
  <div class="span8">
    <h2>What is PAVE?</h2>
    <p>The Project Announcement Visibility Effort (PAVE) is a program
      that enables NASA managers and NASA supervisors to advertise
      special opportunities to NASA Civil Servants. These
      opportunities are details or one time only special projects that
      have an Objective, Who to Contact for questions, a Start Date,
      an End Date, Skill Mix and a Detailed Description. A NASA
      supervisor/manager can specifically target an
      announcement/opportunity to a specific audience(s) (i.e. Series,
      Grade, Pay Plan and/or all of NASA or certain Centers) through
      the system.</p>
  </div><!--/span-->

  <div class="span4">
    <h2>Restrictions</h2>
    <p>Employees must seek their Supervisor's approval prior to
      applying to a PAVE opportunity.</p>
    <p>NASA Full-time Permanent Civil Servants only can apply.</p>
  </div><!--/span-->
</div>

<div class="row-fluid">
  <div class="span8">
    <h2>What's New</h2>
    {% include "whats_new_items.html" with projects=approved %}
  </div>
  <div class="span4">
    <p><a class="btn btn-primary" href="{% url projects %}">View projects &raquo;</a></p>
  </div>
</div>
{% endblock %} {# content #}
