<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link href="{{STATIC_URL}}/css/base.css" rel="stylesheet" type="text/css" />
  <title>{% block title %}PAVE: Project Announcement Visibility Effort{% endblock %}</title>
</head>

<body>
  <header id="banner">
    <img src="{{STATIC_URL}}/img/paveheader1.gif" />
  </header>

  <nav id="menubar">
    <ul>
      <li><a href="{% url home %}">Home</a></li>
      <li><a href="{% url projects %}">Browse</a></li>
      <li><a href="{% url search %}">Search</a></li>
      <li><a href="{% url manage %}">Manage</a></li>
      <li><a href="{% url exit %}">Exit</a></li>
    </ul>
  </nav>


  <header id="sectionhead">
    <h1>{% block sectionhead %}Welcome to PAVE{% endblock %}</h1>
  </header>

  <section id="content">
    {% block content %}{% endblock %}
  </section>

  <footer id="footer">
    <p>
      WARNING: This US Government computer is for authorized users
      only. By accessing this system you are consenting to complete
      monitoring with no expectation of privacy. Unauthorized access
      or use may subject you to disciplinary action and criminal
      prosecution.
    </p>
  </footer>

</body>
</html>
