<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}PAVE: Project Announcement Visibility Effort{% endblock %}</title>
</head>

<body>
  <section id="banner">
    <img src="templates/paveheader1.gif" />
  </section>

  <section id="sectionhead">
    <h1>Welcome to PAVE</h1>
  </section>

  <section id="content">
    {% block content %}{% endblock %}
  </section>

  <section id="footer">
    <p>
      WARNING: This US Government computer is for authorized users
      only. By accessing this system you are consenting to complete
      monitoring with no expectation of privacy. Unauthorized access
      or use may subject you to disciplinary action and criminal
      prosecution.
    </p>
  </section>

</body>
</html>
