{% extends "base.html" %}

{% block title %}PAVE Manage Projects{% endblock %}
{% block sectionhead %}
<h1>Manage Project Announcements</h1>
{% endblock %}

{% block content %}
<h1>TBD</h1>
<p>
  We can presently use the built-in Django Admin UI to create and
  manage project announcements, for free -- no code needs to be
  written. But it's a bit nerdy and we probably want managers to be
  able to manage their own projects, not other peoples' projects. So
  we'll need to come up with some CRUD pages to list, display, create,
  and update announcements.
</p>
<p>
  We may also need a way to have
  announcements change their status if the Close date has elapsed.
</p>

{% endblock %}

