{% extends "base.html" %}

{% block title %} PAVE Search{% endblock %}
{% block sectionhead %} PAVE Search {% endblock %}

{% block content %}

<!-- To customize form UI see https://docs.djangoproject.com/en/dev/topics/forms/ -->

<p>Hint: You can multi-select Centers and Project Statuses.</p>
<form id="search" method="POST" action=".">{% csrf_token %}
  <table>
  {{ form.as_table }} <!-- also: as_p, as_ul -->
  </table>
  </br>
  <input type="submit" id="submit" value="Search">
</form>

{% endblock %}
