{% extends "base.html" %}

{% block title %} PAVE Projects List{% endblock %}
{% block sectionhead %} Projects List {% endblock %}

{% block content %}
<h2>Approved (most recent {{limit}} of {{approved_num}})</h2>
<table>
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Position Title</th>
      <th>Announcement Closing Date</th>
      <th>Brief Description</th>
      <th>Targeted Groups</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>

    {% for project in approved %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td><a href="{% url details object_id=project.id %}">{{project.project_number}}</a></td>
      <td>{{project.position_title}}</td>
      <td>{{project.announcement_closes}}</td>
      <td>{{project.brief_description}}</td>
      <td>
        <span class="subtitle">Pay Plan:</span> {{project.pay_plan}}<br/>
        <span class="subtitle">Series:</span>   {{project.series_codes.all|join:", "}}<br/> 
        <span class="subtitle">Grades:</span>   {{project.grade_levels.all|join:", "}}<br/>
        <span class="subtitle">Centers:</span>  {{project.nasa_centers.all|join:", "}}
      </td>
      <td class="{{project.status}}">{{project.status}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Closed (most recent {{limit}} of {{closed_num}})</h2>
<table>
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Position Title</th>
      <th>Announcement Closing Date</th>
      <th>Brief Description</th>
      <th>Targeted Groups</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>

    {% for project in closed %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td><a href="{% url details object_id=project.id %}">{{project.project_number}}</a></td>
      <td>{{project.position_title}}</td>
      <td>{{project.announcement_closes}}</td>
      <td>{{project.brief_description}}</td>
      <td>
        <span class="subtitle">Pay Plan:</span> {{project.pay_plan}}<br/>
        <span class="subtitle">Series:</span>   {{project.series_codes.all|join:", "}}<br/> 
        <span class="subtitle">Grades:</span>   {{project.grade_levels.all|join:", "}}<br/>
        <span class="subtitle">Centers:</span>  {{project.nasa_centers.all|join:", "}}
      </td>
      <td class="{{project.status}}">{{project.status}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
