{% extends "base.html" %}

{% block title %} PAVE Projects List{% endblock %}
{% block sectionhead %} Projects List {% endblock %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>Project ID</th>
      <th>Position Title</th>
      <th>Closing Date</th>
      <th>Brief Description</th>
      <th>Targeted Groups</th>
    </tr>
  </thead>
  <tbody>

    {% for project in object_list %}
    <tr>
      <td>{{project.project_id}} (id={{project.id}})</td>
      <td>{{project.position_title}}</td>
      <td>{{project.closing_date}}</td>
      <td>{{project.brief_description}}</td>
      <td>
        Pay Plan: {{project.pay_plan}}<br/>
        <!-- will need to .join() the following multiselects? -->
        Series:   {{project.series_codes}}<br/> 
        Grades:   {{project.grade_levels}}<br/>
        Centers:  {{project.nasa_centers}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
