{% extends "base.html" %}

{% block title %} PAVE Projects List{% endblock %}

{% block content %}
<h1>PAVE Projects List</h1>

{% if limit %}
<p>Showing {{limit}} most recent Approved and Closed projects.</p>
{% endif %}



{% if approved %}

<h2>Approved ({{approved_num}})
  {% if limit %}
  <a class="btn btn-info"
     href="{% url approved %}">View All Approved</a>
  {% endif %}
</h2>
{% include "project/project_browse_table.html" with projects=approved %}

{% endif %}

{% if closed %}

<h2>Closed ({{closed_num}})
  {% if limit %}
  <a class="btn btn-info"
     href="{% url closed %}">View All Closed</a>
  {% endif %}
</h2>
{% include "project/project_browse_table.html" with projects=closed %}

{% endif %}

{% endblock %}
